body{
    background-color: rgb(0, 0, 0);
    margin: 10px 20px 15px 20px;
    font-style: italic;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%; 
    width: 200px;
    height: 200px;
}
.tit{
    color: rgb(135, 246, 9);
    text-align: center;
    font-size: 60px;
}
.hob{
    color: rgb(6, 218, 237);
    text-align: center;
    font-size: 45px;
}
#especial{
    color: rgb(252, 159, 0);
    text-align: center;
    font-size: 60px;
}

ol li {
    color: rgb(56, 246, 9);
    font-size: 20x;
    padding: 10px; 
}
ul li{
    color: rgb(246, 9, 218);
    font-size: 20x;
    padding: 10px;
}
.tbl{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    border-collapse:inherit;
}
th{
    background-color: rgb(124, 1, 207);
    color: rgb(6, 235, 201);
    font-size: 25px;
}
td{
    background-color: rgb(5, 75, 239);
    color: rgb(6, 235,201);
    font-size: 25px;
    text-align: center;
}
/*DIseñpo responsivo para cuando la pantalla sea menmor a 1024px*/
@media(width<=480px){
    body{
        margin: .630em;
    }
    img{
        width: 10em;
        height: 10em;
    }
    .tit{
        font-size: 3em;
    }
    .hob{
        font-size: 2.5em;
    }
    #especial{
        font-size: 3em;
    }
    ol li{
        font-size: 1.12em;
        padding: .5em;
    }
    ul li{
        font-size: 1.12em;
        padding: .5em;
    }
    .tbl{
        width: 90%;;
    }
    th{
        font-size: 1.20em;
    }
    td{
        font-size: 1.20em;
    }
}

/*DIseñpo responsivo para cuando la pantalla sea menmor a 768px*/
@media(width<=768px){
    body{
        margin: 1.5%;
    }
    img{
        width: 14em;
        height: 14em;
    }
    .tit{
        font-size: 2.5em;
    }
    .hob{
        font-size: 2em;
    }
    #especial{
        font-size: 2.5em;
    }
    ol li{
        font-size: 1em;
        padding: .4em;
    }
    ul li{
        font-size: 1em;
        padding: .4em;
    }
    .tbl{
        width: 95%;
    }
    th{
        font-size: 1.1em;
    }
    td{
        font-size: 1.1em;
    }
}
/*DIseñpo responsivo para cuando la pantalla sea menmor a 768px*/
@media(width<=480){
    body{
        margin: .626em;
    }
    img{
        width: 8em;
        height: 8em;
    }
    .tit{
        font-size: 2.5em;
    }
    .hob{
        font-size: 2.5em;
    }
    #especial{
        font-size: 2.5;
    }
    ol li{
        font-size: 1em;
        padding: .5em;
    }
    .tbl{
        width: 90%;
    }
    th{
        font-size: 1.25;
    }
    td{
        font-size: 1.25;
    }
}